.star-container {
  display: flex;
  flex-direction: row;
}

.star-container .filled {
  font-variation-settings: 'FILL' 1;
  color: #666;
}

.star-container .filled.colored {
  color: #ffc169;
}

.star-container.small .material-symbols-rounded {
  font-size: 18px;
  width: 18px;
  height: 18px;
}

.star-container.medium .material-symbols-rounded {
  font-size: 24px;
  width: 24px;
  height: 24px;
}

.star-container.large .material-symbols-rounded {
  font-size: 32px;
  width: 32px;
  height: 32px;
}
