:root {
  --color-highlight-hue: 240;
  --color-background-hue: 240;
  --color-background-saturation: 0%;

  --primary-color: hsl(var(--color-highlight-hue), 70%, 75%);
  --secondary-color: hsl(var(--color-highlight-hue), 0%, 18%);

  --body-color: hsl(var(--color-background-hue), var(--color-background-saturation), 8%);

  --background-color: hsl(var(--color-background-hue), var(--color-background-saturation), 12%);
  --background-2-color: hsl(var(--color-background-hue), var(--color-background-saturation), 16%);
  --background-3-color: hsl(var(--color-background-hue), var(--color-background-saturation), 20%);

  --text-color: hsl(var(--color-background-hue), 10%, 85%);
  --text-secondary-color: hsl(var(--color-background-hue), 10%, 70%);
  --hover-color: hsl(var(--color-background-hue), var(--color-background-saturation), 27%);
  --border-color: hsl(var(--color-background-hue), var(--color-background-saturation), 22%);
}
