:root {
  --primary-color: hsl(200, 60%, 60%);
  --secondary-color: hsl(200, 35%, 18%);

  --body-color: hsl(250, 15%, 5%);

  --background-color: hsl(250, 15%, 15%);
  --background-2-color: hsl(250, 15%, 18%);

  --text-color: hsl(250, 10%, 85%);
  --hover-color: hsl(250, 15%, 27%);
  --border-color: hsl(250, 15%, 25%);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: var(--body-color);
  color: var(--text-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: var(--background-color);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

header nav ul li {
  font-size: 14px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
}

.pl-logo {
  height: 40px;
  width: auto;
}

h1 {
  margin: 0;
  font-size: 20px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background: var(--background-color);
  border-radius: 12px;
  font-family: 'Roboto Mono', monospace;
}

table thead tr th {
  position: sticky;
  top: 0;
  background: var(--background-color);
  border-bottom: 2px solid var(--border-color);
  font-weight: bold;
  z-index: 1;
}

table thead tr:first-child th:first-child {
  border-top-left-radius: 12px;
}
table thead tr:first-child th:last-child {
  border-top-right-radius: 12px;
}
table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}
table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

table thead tr th,
table tbody tr td {
  color: var(--text-color);
  font-size: 14px;
}

table tbody tr td {
  padding: 8px;
}

table tbody tr:nth-child(even) {
  background: var(--background-2-color);
}

table tbody tr:hover {
  background: var(--secondary-color);
}

.team-name {
  display: flex;
  gap: 12px;
  align-items: center;
  border-radius: 8px;
  padding: 8px;
  font-family: 'Roboto', sans-serif;
}

.team-badge {
  display: flex;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.play-style {
  font-family: 'Roboto', sans-serif;
}

.sort-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 12px 8px;
  border-radius: 4px;
  color: var(--text-color);
  margin: 0;
  width: 100%;
  text-align: inherit;
}

.sort-button:hover,
.sort-button-selected {
  color: var(--primary-color);
}

.sort-button .material-symbols-rounded {
  font-size: 16px;
  vertical-align: middle;
  margin-left: 4px;
}

.star-container {
  display: flex;
  flex-direction: row;
}

.star-container .filled {
  font-variation-settings: 'FILL' 1;
  color: #666;
}

.star-container .filled.colored {
  color: #ffc169;
}

.star-container .material-symbols-rounded {
  font-size: 20px;
  width: 20px;
  height: 20px;
}

select {
  background: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 8px;
  margin-left: 12px;
  border-radius: 12px;
}

select:focus {
  outline: 2px solid;
  outline-color: var(--primary-color);
}
