@import './style/Colors.css';
@import './style/Responsive.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: var(--body-color);
  color: var(--text-color);
}

main {
  max-width: var(--screen-max-width);
  margin: 0 auto;
  padding: 16px;
}

a {
  color: var(--text-color);
  text-decoration: none;
  padding: 8px 0px;
}

a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

a.active {
  font-weight: bold;
  border-bottom: 2px solid var(--primary-color);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
}

.pl-logo {
  height: 40px;
  width: auto;
}

h1 {
  margin: 0;
  font-size: 20px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background: var(--background-color);
  border-radius: 12px;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}

table thead tr th {
  position: sticky;
  top: 0;
  background: var(--background-color);
  border-bottom: 2px solid var(--border-color);
  font-weight: bold;
  z-index: 1;
}

table thead tr:first-child th:first-child {
  border-top-left-radius: 12px;
}
table thead tr:first-child th:last-child {
  border-top-right-radius: 12px;
}
table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}
table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

table tbody tr td {
  padding: 8px;
  vertical-align: middle;
}

table tbody tr:hover {
  background: var(--secondary-color);
}

.team-name {
  display: flex;
  gap: 12px;
  align-items: center;
  border-radius: 8px;
  padding: 8px;
  font-family: 'Roboto', sans-serif;
}

.team-badge {
  display: flex;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.play-style {
  font-family: 'Roboto', sans-serif;
}

.sort-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 12px 8px;
  border-radius: 4px;
  color: var(--text-secondary-color);
  margin: 0;
  width: 100%;
  text-align: inherit;
}

.sort-button:hover,
.sort-button-selected {
  color: var(--primary-color);
}

.sort-button .material-symbols-rounded {
  font-size: 16px;
  vertical-align: middle;
  margin-left: 4px;
}

select {
  background: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 8px;
  margin-left: 12px;
  border-radius: 12px;
}

select:focus {
  outline: 2px solid;
  outline-color: var(--primary-color);
}
