.base-button {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 8px;
  background: var(--background-3-color);
  color: #ddd;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.base-button:hover {
  background: var(--background-3-color);
}

.base-button-square {
  justify-content: center;
  padding: 8px;
  aspect-ratio: 1;
}
