.base-button {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 8px;
  background: var(--background-2-color);
  color: #ddd;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.base-button:hover {
  background: var(--background-3-color);
}
